body {
  font-family: "Changa", sans-serif;
  background: linear-gradient(180deg, rgba(0, 87, 183, 0.5) 31%, rgba(255, 221, 0, 0.5) 100%);
  background-attachment: fixed;
}
h3,
h1 {
  color: white;
}
td {
  text-align: center;
}
a {
 color: #343837;
}
a:hover {
 color: #0057B7;
}
.main-container {
  background: rgba(135, 178, 231, 0.7);
  margin: 50px auto 0;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  min-width: fit-content;
}
.upper-area {
  padding: 30px;
}
.col, .col-sm-6 {
  margin-bottom: 10px;
}
#current-time {
  color: white;
}
#city-input {
  border-radius: 4px;
  border-color: white;
  outline: none;
  color: #343837;
}
.submit-button, .current-location-button {
  border: solid;
  border-color: white;
  background: transparent;
  padding: 0px 20px;
  border-radius: 4px;
  color: white;
}
.submit-button:hover, .current-location-button:hover {
  background: #FFDD00;
  color: #0057B7;  
}
.search-icon:hover {
  transform: scale(1.2);
}
.main-area {
  padding: 50px 20px;
  max-width: 700px;
  margin: auto;
}
.table-icon {
  width: 20%;
}
.table-data {
  width: 40%;
}
.table-image {
  width: 40%;
  min-width: 200px;
}
.weather-icon {
  padding: 10px;
  color: white;
  font-size: 50px;
}
.current-day-list {
  list-style: none;
  padding: 0;
  font-style: italic;
  color: #343837;
}
.weather-img {
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgba(0, 87, 183, 0.3);
  width: 100%;
  display: block;
}
.weather-forecast{
  padding: 0 20px;
}
.forecast-list {
  list-style: none;
  text-align: center;
  padding: 5px 5px;
  min-width: fit-content;
}
.forecast-list:hover {
  border: none;
  transform: scale(1.2);
}
.forecast-day {
  color: #343837;
}
.day {
  color: #FFDD00;
}
.night {
  color: #0057B7;
}
.day-weather-icon {
  color: white;
}
.footer {
  color: #343837;
  text-align: center;
  padding: 5px;
}