body {
  font-family: "Changa", sans-serif;
  background-size: cover;
}
.light {
  background-image: url(light.jpg);
}
.dark {background-image: url(dark.jpg);
}
.whole-page {
  background: rgba(42, 113, 135, 0.8);
  margin: 50px auto 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 1100px;
  min-width: fit-content;
}
.upper-area {
  padding: 30px;
}
#current-time {
  color: white;
  text-decoration: none;
}

#city-input {
  border-radius: 4px;
  border-color: white;
}

.submit-button, .current-location-button {
  border: solid;
  border-color: white;
  background: transparent;
  padding: 0px 20px;
  border-radius: 4px;
  color: white;
}
.submit-button:hover {
  background: rgb(30, 79, 94);
  
}
.current-location-button:hover {
  background: rgb(30, 79, 94);
  
}

.search-icon {
  color: white;
}
.search-icon:hover {
  transform: scale(1.2);
}
.current-location {
  color: white;
  margin-top: 0;
}
.main-area {
  padding: 50px 20px;
  max-width: 700px;
  margin: auto;
}
.table-icon {
  width: 20%;
}
.table-data {
  width: 40%;
}
.table-image {
  width: 40%;
  min-width: 200px;
}
h3,
h1 {
  color: white;
}

.current-day-list {
  list-style: none;
  padding: 0;
}
.weather-img {
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: block;
}
td {
  text-align: center;
}
.bottom-area {
  padding: 20px 0 100px;
}
.day-list {
  list-style: none;
  text-align: center;
  padding: 10px 20px;
}
.circle {
  border-radius: 50%;
  border: solid;
  width: 100px;
  height: 100px;
  color: white;
}
.weather-icon {
  padding: 10px;
  color: white;
  font-size: 50px;
}
.forecast {
  background: rgb(101, 153, 175, 0.8);
  text-align: center;
  border: none;
  padding: 20px 30px;
  margin: 0 0 5px 0;
}
.forecast:hover {
  border: none;
  transform: scale(1.1);
}
.comming-days {
  display: inline-block;
}
.day {
  color: lightblue;
}
.night {
  color: #010038;
}
.day-weather-icon {
  color: white;
}
.days-icon {
  color: white;
  font-size: 20px;
}
.footer {
  margin: auto;
  color: white;
  text-align: center;
  background-color: rgb(42, 113, 135, 0.8);
  padding: 10px;
  width: fit-content;
}
 a {
  color: lightblue;
 }
 a:hover {
  color: lightskyblue
 }